.container__main{
  background: #D9D9D9;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__header{
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  width: 100%;
  height: 58px;
  padding: 12px 0px 5px 35px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
}
.box__img__name__input{
  display: flex;
  width: 100%;
}
.inner__img{
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.logo{
  width: 36px;
  height: 36px;
}
.inner__name__web__application{
  margin-left: 15px;
}
.name__web__application{
  color: #455A64;
  font-weight: 400;
  font-size: 14px;
}
.inner__input__search{
  margin-left: 35px;
  margin-right: 5px;
  width: 70%;
}
.input__search{
  height: 30px;
  padding: 5px 5px 5px 15px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.392);
  outline: none;
  box-shadow: 0 0.2rem #dfd9d9;
  border-radius: 8px;
  
}
.box__icon__close{
  margin-right: 20px;
}
.icon__close{
  width: 22px;
  height: 22px;
  color: #51646E;
}
/*Section add a new note*/
.section__create__note{
  margin-top: 30px;
  margin-bottom: 50px;
}
.card__create__note{
  width: 530px;
}
.header__create__note{
  border-bottom: 1px solid rgba(128, 128, 128, 0.251);
  padding-right: 10px;
  background: #fff;
  width: 100%;
}
.input__add__tittle{
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 10px 5px 15px;
}
.input__add__tittle::placeholder {
  color: #333333;
  font-size: 16px;
  width: 500;
  font-weight: bold;
}
.icon__star__no__favorited{
  font-size: 20px;
  color: #455A64;
  cursor: pointer;
}
.icon__star__favorited{
  font-size: 20px;
  color: gold;
  cursor: pointer;
}
.box__note__content{
  width: 100%;
  height: 100%;
}
.textarea__note {
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 14px;
  color: #333333;
  border: none;
  resize: none;
  outline: none;
}
.textarea__note::placeholder {
  color: gray;
  width: 400;
}
.section__favorite__to_do {
  display: flex;
  align-items: center;
  height: 490px; 
  width: 100%; 
  border-radius: 8px;
  padding-left: 35px;
  margin-bottom: 15px;
  overflow-x: auto; 
  overflow-y: hidden; 
  white-space: nowrap;
}
.section__favorite__to_do::-webkit-scrollbar {
  height: 3px; 
}
.section__favorite__to_do::-webkit-scrollbar-thumb {
  background: #455A64; 
  border-radius: 5px;
}
.tittle__section__favorite__to_do {
  font-size: 14px;
  padding-left: 35px;
  color: #464646;
  margin-bottom: 5px;
}
.box__note__card {
  display: flex;
  flex-wrap: nowrap; 
  gap: 12px;
}
.inner__note__card {
  display: flex;
  flex-direction: column;
  width: 380px; 
  height: 470px; 
  background: white;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  white-space: normal;
  overflow: hidden;
}
